SYMBOLS {
    ## save space for the C stack
    ## setting this to more than 0 enables support for C
    __STACKSIZE__:  type = weak, value = $100;     
}

MEMORY {
    ZP:     start =   $00, size =  $100, type = rw;
    # C stack
    SRAM: start = $0300, size =  __STACKSIZE__, define = yes;
    # Remaining space is available RAM
	RAM:
        start = $0300 + __STACKSIZE__
        size =  $0800 - $0300 - __STACKSIZE__
        define = yes;

    HEADER: start =    $0, size =   $10, file = %O, fill = yes;

    ## For one bank:
    # PRG:    start = $C000, size = $4000, file = %O, fill = yes, define = yes;
    ## For two banks:
    PRG:    start = $8000, size = $8000, file = %O, fill = yes, define = yes;
    
    CHR:    start = $0000, size = $2000, file = %O, fill = yes;
}

SEGMENTS {
    ### Segments that probably won't need to be modified:

    HEADER:   load = HEADER,         type = ro;
    ZEROPAGE: load = ZP,             type = zp;
    ## Placed first, though the reset vector will get executed first anyway
    STARTUP:  load = PRG,            type = ro, define   = yes, optional = yes;
    LOWCODE:  load = PRG,            type = ro, optional = yes;
    ONCE:     load = PRG,            type = ro, optional = yes;
    CODE:     load = PRG,            type = ro, define   = yes;    
    RODATA:   load = PRG,            type = ro, define   = yes;
    ## space for initialized variables; only needed if using C?
    ## C runtime copies this segment into RAM at startup
    DATA:     load = PRG, run = RAM, type = rw, define   = yes;
    RAM:      load = RAM,            type = bss;

    # DPCM samples supposedly need to be after $C000 and aligned to a multiple
    # of $40.
    # TODO: figure out a way to avoid having to define a location manually.
    DPCM:     load = PRG,            type = ro, define   = yes, optional = yes, start = $ff00;
    ## Pointers to reset/NMI/IRQ code
    VECTORS:  load = PRG,            type = ro, start    = $fffa;

    CHARS:    load = CHR,            type = rw;
}
